.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}


.navbar-logo img {
  height: 80px; 
  width: auto;
  display: block;

  
}


.navbar-left {
  display: flex;
  margin-left: 10px;
  
}


.navbar-right {
  display: flex;
  
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
}


.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  display: flex;
  align-items: center; 
  gap: 6px; 
  transition: all 0.3s ease-in-out;
}

.navbar-links a svg {
  font-size: 24px; 
}


.navbar-links a:hover {
  color: #000;
  background: #fff;
  border-radius: 5px;
}


.navbar-links a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-links a:hover::after {
  width: 100%;
}
